@import url(fonts.css);
@import url(owl.carousel.css);
@import url(owl.theme.css);
@import url(owl.transitions.css);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, a:focus { outline: none; font-weight: normal; }

ul, ol { list-style-type: none; }

table { border-spacing: 0; border-collapse: collapse; width: 100%; }

a { color: inherit; text-decoration: inherit; }

a, img, a:active, a:focus { outline: none; }

.clearfix:after { clear: both; display: block; content: ""; }

*, *:before, *:after { box-sizing: border-box; }

.l_bl { float: left; }

.r_bl { float: right; }

.clearfix:after { clear: both; display: block; content: ""; }

.site-wrap { position: relative; }

.container { max-width: 1170px; padding: 0 15px; margin: auto; }

.menu-header { display: block; }

.menu-header__list-first-lvl { display: flex; flex-wrap: wrap; justify-content: space-between; font-size: 19px; font-family: "Roboto-Medium"; }

.menu-header__item-first-lvl { padding: 20px 0; display: flex; position: relative; }

.menu-header__item-first-lvl { display: block; }
.menu-header__item-first-lvl:hover { color: #004aad; }
.menu-header__item-first-lvl:hover .menu-header__list-second-lvl { display: block; }

.menu-header__list-second-lvl { min-width: 220px; max-width: 500px; background: #ffffff; display: none; position: absolute; top: 100%; left: 0; z-index: 30; border: 1px solid #eaeaea; }

.menu-header__item-second-lvl { padding: 10px 20px; border-top: 1px solid #eaeaea; font-size: 19px; }
.menu-header__item-second-lvl:hover { color: #ffffff; background: #004aad; }
.menu-header__item-second-lvl:first-child { border-top: none; }

.service-b { padding-top: 30px; padding-bottom: 30px; position: relative; text-align: center; }

.logo-white-link { width: 211px; margin: 5px 20px 0 0; float: left; display: block; }

.logo-white-emblem-small-wrap { width: 31px; height: 31px; margin-right: 10px; display: inline-block; }

.logo-white-img-emblem-small { width: 31px; height: 31px; display: inline-block; font-size: 0; }

.logo-white-text-wrap { width: 160px; height: 31px; display: inline-block; }

.logo-white-img-text { width: 160px; height: 31px; display: inline-block; font-size: 0; }

.logo-white-emblem-big-wrap { width: 41px; height: 39px; display: none; }

.logo-white-img-emblem-big { width: 41px; height: 39px; display: block; font-size: 0; }

.search-b { width: calc(100% - 463px); padding: 0 336px 0 85px; display: inline-block; position: relative; text-align: left; font-size: 0; }

.search-b__dd-list_lang { min-width: 200px; display: none; }

.search-b__dd-list_category { min-width: 320px; display: none; }

.search-b__dd_lang { width: 84px; display: inline-block; position: absolute; top: 0; left: 0; }

.search-b__dd_category { width: 175px; display: inline-block; position: absolute; top: 0; right: 161px; border-left: 1px solid #3c3d42; }

.search-b__entry-field { width: 100%; padding: 9px 10px 8px 10px; background: #ffffff; font-family: "Roboto-Regular"; font-size: 17px; }

.video-wrap { width: 100%; height: 640px; position: relative; }

.video-top { width: 100%; height: 640px; background: url("../img/family-health.png") no-repeat top center fixed; background-size: cover; position: absolute; top: 0; left: 0; z-index: 1; }

.video-top_au { width: 100%; height: 640px; background: url("../img/chemist.png") no-repeat top center fixed; background-size: cover; position: absolute; top: 0; left: 0; z-index: -10; }

.banner-middle { width: 100%; height: 432px; background: url("../img/water.png") no-repeat top center fixed; background-size: cover; }

.banner-bottom { width: 100%; height: 432px; background: url("../img/family-man.png") no-repeat top center fixed; background-size: cover; }

.banner-dm { width: 100%; height: 158px; background: url("../img/chemist_small.jpg") no-repeat top center; }

.banner-container { height: 100%; display: block; text-align: center; }
.banner-container::before { vertical-align: middle; display: inline-block; height: 100%; content: ""; }

.banner-content { width: 98%; padding: 0 15px; display: inline-block; vertical-align: middle; position: relative; z-index: 2; }

.banner-text { color: #FFFFFF; font-family: "Roboto-Medium"; }

.banner-text_big { padding-bottom: 30px; font-family: "Roboto-Regular"; font-size: 60px; }

.banner-text_medium { font-size: 36px; }

.banner-text_small { padding-top: 60px; font-size: 28px; }

.banner-text_dm { font-family: "Roboto-Regular"; font-size: 28px; }

.owl-carousel-wrap { padding-top: 75px; padding-bottom: 75px; }
.owl-carousel-wrap .owl-carousel__seat { font-size: 0; }

.owl-carousel__left-b { width: 50%; padding-right: 15px; display: inline-block; vertical-align: top; }

.owl-carousel__img-wrap { width: 100%; height: auto; }

.owl-carousel__right-b { width: 50%; padding-left: 15px; display: inline-block; vertical-align: top; }

.blue-b { padding: 40px 0 45px 0; font-size: 0; }

.menu-footer { width: calc(100% - 260px); display: inline-block; vertical-align: top; }

.menu-footer__list { width: 33.33%; display: inline-block; color: #FFFFFF; font-family: "Roboto-Regular"; font-size: 0; }

.menu-footer__item { width: 100%; padding: 0 10px 10px 0; display: inline-block; vertical-align: top; font-size: 17px; }

.menu-footer__link:hover { text-decoration: underline; }

.social-b { width: 260px; display: inline-block; vertical-align: top; color: #FFFFFF; font-family: "Roboto-Regular"; font-size: 19px; }

.social-b__icons { padding: 15px 0; }

.social-b__ico-wrap { display: inline-block; margin-right: 18px; }
.social-b__ico-wrap:last-child { margin-right: 0; }

.social-b__ico { vertical-align: middle; }

.social-b__f { background-image: url('../img/icons-s2f71294b09.png'); background-position: 0 -773px; background-repeat: no-repeat; overflow: hidden; display: inline-block; height: 19px; width: 10px; }
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) { .social-b__f { background-image: url('../img/icons-2x-s756f2c5928.png'); background-size: 0px auto; background-position: 0 -773px; height: 19px; width: 10px; } }

.social-b__t { background-image: url('../img/icons-s2f71294b09.png'); background-position: 0 -2365px; background-repeat: no-repeat; overflow: hidden; display: inline-block; height: 14px; width: 18px; }
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) { .social-b__t { background-image: url('../img/icons-2x-s756f2c5928.png'); background-size: 0px auto; background-position: 0 -2376px; height: 14px; width: 18px; } }

.social-b__rss { background-image: url('../img/icons-s2f71294b09.png'); background-position: 0 -1768px; background-repeat: no-repeat; overflow: hidden; display: inline-block; height: 15px; width: 15px; }
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) { .social-b__rss { background-image: url('../img/icons-2x-s756f2c5928.png'); background-size: 0px auto; background-position: 0 -1779px; height: 15px; width: 15px; } }

.social-b__in { background-image: url('../img/icons-s2f71294b09.png'); background-position: 0 -1255px; background-repeat: no-repeat; overflow: hidden; display: inline-block; height: 16px; width: 17px; }
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) { .social-b__in { background-image: url('../img/icons-2x-s756f2c5928.png'); background-size: 0px auto; background-position: 0 -1244px; height: 16px; width: 17px; } }

.social-b__instagram { background-image: url('../img/icons-s2f71294b09.png'); background-position: 0 -1298px; background-repeat: no-repeat; overflow: hidden; display: inline-block; height: 16px; width: 16px; }
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) { .social-b__instagram { background-image: url('../img/icons-2x-s756f2c5928.png'); background-size: 0px auto; background-position: 0 -1265px; height: 16px; width: 16px; } }

.social-b__vk { background-image: url('../img/icons-s2f71294b09.png'); background-position: 0 -2409px; background-repeat: no-repeat; overflow: hidden; display: inline-block; height: 12px; width: 21px; }
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) { .social-b__vk { background-image: url('../img/icons-2x-s756f2c5928.png'); background-size: 0px auto; background-position: 0 -2420px; height: 12px; width: 21px; } }

.social-b__g-plus { background-image: url('../img/icons-s2f71294b09.png'); background-position: 0 -995px; background-repeat: no-repeat; overflow: hidden; display: inline-block; height: 16px; width: 25px; }
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) { .social-b__g-plus { background-image: url('../img/icons-2x-s756f2c5928.png'); background-size: 0px auto; background-position: 0 -984px; height: 16px; width: 25px; } }

.copyright-b-wrap { background: #303135; }

.copyright-b { padding-top: 25px; padding-bottom: 25px; text-align: center; color: #888b97; font-family: "Roboto-Regular"; font-size: 17px; }

.drop-menu { width: 375px; height: 100%; background: #ffffff; display: none; position: absolute; top: 0; right: 0; z-index: 110; overflow: auto; text-align: center; font-family: "Roboto-Regular"; font-size: 21px; }

.authoriz-b-dm { padding: 25px 0; }

.authoriz-b-dm__links { margin-bottom: 30px; }

.authoriz-b-dm__link:hover { color: #004aad; }

.authoriz-b-dm__df-entry { cursor: pointer; }
.authoriz-b-dm__df-entry:hover { color: #004aad; }

.authoriz-b-dm__form { display: none; }

.drop-menu__item-first-lvl { border-top: 1px solid #eaeaea; }
.drop-menu__item-first-lvl:last-child { border-bottom: 1px solid #eaeaea; }

.drop-menu__link-first-lvl { padding: 16px 10px; display: block; }
.drop-menu__link-first-lvl:hover { background: #004aad; color: #ffffff; }

.logo_blue { margin-top: 25px; }

.values-b { font-size: 0; }

.values-b__item { width: 33.33%; margin-bottom: 60px; display: inline-block; font-family: "Roboto-Regular"; font-size: 19px; }

.values-b__caption { padding-top: 30px; }

.values-b__ico-small { opacity: 0; }

.values-b__ico-heart-big { background-image: url('../img/icons-s2f71294b09.png'); background-position: 0 -1145px; background-repeat: no-repeat; overflow: hidden; display: inline-block; height: 56px; width: 60px; position: absolute; top: 50%; left: 50%; margin-top: -28px; margin-left: -30px; }
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) { .values-b__ico-heart-big { background-image: url('../img/icons-2x-s756f2c5928.png'); background-size: 0px auto; background-position: 0 -1134px; height: 56px; width: 60px; position: absolute; top: 50%; left: 50%; margin-top: -28px; margin-left: -30px; } }

.values-b__ico-shield-big { background-image: url('../img/icons-s2f71294b09.png'); background-position: 0 -1992px; background-repeat: no-repeat; overflow: hidden; display: inline-block; height: 60px; width: 56px; position: absolute; top: 50%; left: 50%; margin-top: -30px; margin-left: -28px; }
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) { .values-b__ico-shield-big { background-image: url('../img/icons-2x-s756f2c5928.png'); background-size: 0px auto; background-position: 0 -2003px; height: 60px; width: 56px; position: absolute; top: 50%; left: 50%; margin-top: -30px; margin-left: -28px; } }

.values-b__ico-star-big { background-image: url('../img/icons-s2f71294b09.png'); background-position: 0 -2251px; background-repeat: no-repeat; overflow: hidden; display: inline-block; height: 58px; width: 60px; position: absolute; top: 50%; left: 50%; margin-top: -29px; margin-left: -30px; }
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) { .values-b__ico-star-big { background-image: url('../img/icons-2x-s756f2c5928.png'); background-size: 0px auto; background-position: 0 -2262px; height: 58px; width: 60px; position: absolute; top: 50%; left: 50%; margin-top: -29px; margin-left: -30px; } }

.values-b__ico-arrows-int-big { background-image: url('../img/icons-s2f71294b09.png'); background-position: 0 -338px; background-repeat: no-repeat; overflow: hidden; display: inline-block; height: 54px; width: 60px; position: absolute; top: 50%; left: 50%; margin-top: -27px; margin-left: -30px; }
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) { .values-b__ico-arrows-int-big { background-image: url('../img/icons-2x-s756f2c5928.png'); background-size: 0px auto; background-position: 0 -338px; height: 54px; width: 60px; position: absolute; top: 50%; left: 50%; margin-top: -27px; margin-left: -30px; } }

.values-b__ico-arrow-up-big { background-image: url('../img/icons-s2f71294b09.png'); background-position: 0 -132px; background-repeat: no-repeat; overflow: hidden; display: inline-block; height: 60px; width: 44px; position: absolute; top: 50%; left: 50%; margin-top: -30px; margin-left: -22px; }
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) { .values-b__ico-arrow-up-big { background-image: url('../img/icons-2x-s756f2c5928.png'); background-size: 0px auto; background-position: 0 -132px; height: 60px; width: 44px; position: absolute; top: 50%; left: 50%; margin-top: -30px; margin-left: -22px; } }

.values-b__ico-plus-big { background-image: url('../img/icons-s2f71294b09.png'); background-position: 0 -1650px; background-repeat: no-repeat; overflow: hidden; display: inline-block; height: 60px; width: 60px; position: absolute; top: 50%; left: 50%; margin-top: -30px; margin-left: -30px; }
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) { .values-b__ico-plus-big { background-image: url('../img/icons-2x-s756f2c5928.png'); background-size: 0px auto; background-position: 0 -1661px; height: 60px; width: 60px; position: absolute; top: 50%; left: 50%; margin-top: -30px; margin-left: -30px; } }

.values-b__ico-heart-small { background-image: url('../img/icons-s2f71294b09.png'); background-position: 0 -1206px; background-repeat: no-repeat; overflow: hidden; display: inline-block; height: 44px; width: 48px; position: absolute; top: 50%; left: 50%; margin-top: -22px; margin-left: -24px; }
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) { .values-b__ico-heart-small { background-image: url('../img/icons-2x-s756f2c5928.png'); background-size: 0px auto; background-position: 0 -1195px; height: 44px; width: 48px; position: absolute; top: 50%; left: 50%; margin-top: -22px; margin-left: -24px; } }

.values-b__ico-shield-small { background-image: url('../img/icons-s2f71294b09.png'); background-position: 0 -2057px; background-repeat: no-repeat; overflow: hidden; display: inline-block; height: 48px; width: 44px; position: absolute; top: 50%; left: 50%; margin-top: -24px; margin-left: -22px; }
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) { .values-b__ico-shield-small { background-image: url('../img/icons-2x-s756f2c5928.png'); background-size: 0px auto; background-position: 0 -2068px; height: 48px; width: 44px; position: absolute; top: 50%; left: 50%; margin-top: -24px; margin-left: -22px; } }

.values-b__ico-star-small { background-image: url('../img/icons-s2f71294b09.png'); background-position: 0 -2314px; background-repeat: no-repeat; overflow: hidden; display: inline-block; height: 46px; width: 48px; position: absolute; top: 50%; left: 50%; margin-top: -23px; margin-left: -24px; }
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) { .values-b__ico-star-small { background-image: url('../img/icons-2x-s756f2c5928.png'); background-size: 0px auto; background-position: 0 -2325px; height: 46px; width: 48px; position: absolute; top: 50%; left: 50%; margin-top: -23px; margin-left: -24px; } }

.values-b__ico-arrows-int-small { background-image: url('../img/icons-s2f71294b09.png'); background-position: 0 -397px; background-repeat: no-repeat; overflow: hidden; display: inline-block; height: 44px; width: 48px; position: absolute; top: 50%; left: 50%; margin-top: -22px; margin-left: -24px; }
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) { .values-b__ico-arrows-int-small { background-image: url('../img/icons-2x-s756f2c5928.png'); background-size: 0px auto; background-position: 0 -397px; height: 44px; width: 48px; position: absolute; top: 50%; left: 50%; margin-top: -22px; margin-left: -24px; } }

.values-b__ico-arrow-up-small { background-image: url('../img/icons-s2f71294b09.png'); background-position: 0 -197px; background-repeat: no-repeat; overflow: hidden; display: inline-block; height: 48px; width: 35px; position: absolute; top: 50%; left: 50%; margin-top: -24px; margin-left: -17.5px; }
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) { .values-b__ico-arrow-up-small { background-image: url('../img/icons-2x-s756f2c5928.png'); background-size: 0px auto; background-position: 0 -197px; height: 48px; width: 35px; position: absolute; top: 50%; left: 50%; margin-top: -24px; margin-left: -17.5px; } }

.values-b__ico-plus-small { background-image: url('../img/icons-s2f71294b09.png'); background-position: 0 -1715px; background-repeat: no-repeat; overflow: hidden; display: inline-block; height: 48px; width: 48px; position: absolute; top: 50%; left: 50%; margin-top: -24px; margin-left: -24px; }
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) { .values-b__ico-plus-small { background-image: url('../img/icons-2x-s756f2c5928.png'); background-size: 0px auto; background-position: 0 -1726px; height: 48px; width: 48px; position: absolute; top: 50%; left: 50%; margin-top: -24px; margin-left: -24px; } }

.achievements-b__list { font-size: 0; }

.achievements-b__item { width: 260px; height: 120px; margin-left: 1%; margin-right: 1%; margin-bottom: 40px; background: #ffffff; border: 1px solid #eaeaea; display: inline-block; text-align: left; }

.achievements-b__ico-wrap { width: 100px; height: 100%; display: inline-block; position: relative; }

.achievements-b__caption { width: calc(100% - 100px); padding-top: 25px; display: inline-block; vertical-align: top; font-family: "Roboto-Regular"; font-size: 19px; }

.achievements-b__number { padding-top: 10px; font-size: 36px; }

.achievements-b__img { margin-top: 20px; }

.achievements-b__ico-flag { background-image: url('../img/icons-s2f71294b09.png'); background-position: 0 -930px; background-repeat: no-repeat; overflow: hidden; display: inline-block; height: 60px; width: 44px; position: absolute; top: 50%; left: 50%; margin-top: -30px; margin-left: -22px; }
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) { .achievements-b__ico-flag { background-image: url('../img/icons-2x-s756f2c5928.png'); background-size: 0px auto; background-position: 0 -919px; height: 60px; width: 44px; position: absolute; top: 50%; left: 50%; margin-top: -30px; margin-left: -22px; } }

.achievements-b__ico-city { background-image: url('../img/icons-s2f71294b09.png'); background-position: 0 -670px; background-repeat: no-repeat; overflow: hidden; display: inline-block; height: 52px; width: 60px; position: absolute; top: 50%; left: 50%; margin-top: -26px; margin-left: -30px; }
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) { .achievements-b__ico-city { background-image: url('../img/icons-2x-s756f2c5928.png'); background-size: 0px auto; background-position: 0 -670px; height: 52px; width: 60px; position: absolute; top: 50%; left: 50%; margin-top: -26px; margin-left: -30px; } }

.achievements-b__ico-pills { background-image: url('../img/icons-s2f71294b09.png'); background-position: 0 -1530px; background-repeat: no-repeat; overflow: hidden; display: inline-block; height: 50px; width: 56px; position: absolute; top: 50%; left: 50%; margin-top: -25px; margin-left: -28px; }
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) { .achievements-b__ico-pills { background-image: url('../img/icons-2x-s756f2c5928.png'); background-size: 0px auto; background-position: 0 -1541px; height: 50px; width: 56px; position: absolute; top: 50%; left: 50%; margin-top: -25px; margin-left: -28px; } }

.achievements-b__ico-handshake { background-image: url('../img/icons-s2f71294b09.png'); background-position: 0 -1035px; background-repeat: no-repeat; overflow: hidden; display: inline-block; height: 44px; width: 60px; position: absolute; top: 50%; left: 50%; margin-top: -22px; margin-left: -30px; }
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) { .achievements-b__ico-handshake { background-image: url('../img/icons-2x-s756f2c5928.png'); background-size: 0px auto; background-position: 0 -1024px; height: 44px; width: 60px; position: absolute; top: 50%; left: 50%; margin-top: -22px; margin-left: -30px; } }

.tape-b__item { padding: 25px 0 10px 0; border-bottom: 1px solid #eaeaea; }
.tape-b__item:first-child { padding-top: 0; }
.tape-b__item:last-child { border-bottom: 0; }

.tape-b__link-img { margin-bottom: 10px; display: block; }

.tape-b__link { display: block; }

.contacts-wrap { padding-top: 20px; padding-bottom: 80px; }

.contacts-b-wrap { font-size: 0; }

.contacts-b { width: 50%; display: inline-block; vertical-align: top; font-family: "Roboto-Regular"; }

.contacts-b__list { width: 100%; font-size: 0; }

.contacts-b__item { width: 100%; padding: 0 20px 20px 0; display: inline-block; vertical-align: top; font-size: 19px; }

.contacts-b__left-b { width: 125px; height: 100%; float: left; text-align: right; font-family: "Roboto-Medium"; }

.contacts-b__right-b { width: calc(100% - 125px); padding-left: 20px; float: right; }

.contacts-b__text-right { float: right; }

.feedback-b { width: 50%; padding-left: 10px; display: inline-block; vertical-align: top; font-family: "Roboto-Regular"; font-size: 21px; }

.feedback-b__message { padding-bottom: 30px; }

.location-b { font-size: 0; }

.location-b__map-wrap { width: 50%; height: 400px; display: inline-block; float: left; }

.location-b__photo-wrap { width: 50%; height: 400px; display: inline-block; overflow: hidden; }

.location-b__photo { width: auto; height: 100%; }

.contacts-b__ico-wrap { width: 20px; float: left; text-align: center; }

.contacts-b__ico { vertical-align: middle; }

.contacts-b__ico-address { background-image: url('../img/icons-s2f71294b09.png'); background-position: 0 0; background-repeat: no-repeat; overflow: hidden; display: inline-block; height: 20px; width: 14px; }
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) { .contacts-b__ico-address { background-image: url('../img/icons-2x-s756f2c5928.png'); background-size: 0px auto; background-position: 0 0; height: 20px; width: 14px; } }

.contacts-b__ico-tel { background-image: url('../img/icons-s2f71294b09.png'); background-position: 0 -2384px; background-repeat: no-repeat; overflow: hidden; display: inline-block; height: 20px; width: 12px; }
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) { .contacts-b__ico-tel { background-image: url('../img/icons-2x-s756f2c5928.png'); background-size: 0px auto; background-position: 0 -2395px; height: 20px; width: 12px; } }

.contacts-b__ico-fax { background-image: url('../img/icons-s2f71294b09.png'); background-position: 0 -905px; background-repeat: no-repeat; overflow: hidden; display: inline-block; height: 20px; width: 20px; }
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) { .contacts-b__ico-fax { background-image: url('../img/icons-2x-s756f2c5928.png'); background-size: 0px auto; background-position: 0 -894px; height: 20px; width: 20px; } }

.contacts-b__ico-e-mail { background-image: url('../img/icons-s2f71294b09.png'); background-position: 0 -1487px; background-repeat: no-repeat; overflow: hidden; display: inline-block; height: 14px; width: 20px; }
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) { .contacts-b__ico-e-mail { background-image: url('../img/icons-2x-s756f2c5928.png'); background-size: 0px auto; background-position: 0 -1498px; height: 14px; width: 20px; } }

.bg-gradient-blue { background: linear-gradient(to top, #00347a, #004aad, #00357b); }

.bg-darker { background: #f7f7f7; }

.text-center { text-align: center; }

.text-left { text-align: left; }

.text-medium { font-family: "Roboto-Medium"; }

.text-white { color: #ffffff; }

.text-dark-gray { color: #666666; }

.text-light-blue { color: #008dc5; }

.text-underline:hover { text-decoration: underline; }

.content-wrap { padding-top: 80px; padding-bottom: 80px; font-size: 0; }

.content-wrap_values-b { padding-bottom: 0; }

.content-left-b { width: 68%; padding-right: 30px; display: inline-block; vertical-align: top; }

.content-right-b { width: 32%; display: inline-block; vertical-align: top; }

.h2-content { display: inline-block; color: #004aad; text-transform: uppercase; font-family: "Roboto-Medium"; font-size: 44px; }

.h2-content_tt-n { display: block; text-transform: none; }

.h3-content { margin-bottom: 15px; font-family: "Roboto-Medium"; font-size: 28px; line-height: 36px; }

.h4-content { font-family: "Roboto-Medium"; font-size: 23px; line-height: 26px; }

.h2-content-wrap { margin-bottom: 50px; }

.content-text-small { margin: 12px 0 12px 0; font-family: "Roboto-Regular"; font-size: 19px; line-height: 23px; }

.content-text-medium { font-family: "Roboto-Regular"; font-size: 24px; line-height: 30px; }

.content-text-medium_preparation { margin-bottom: 30px; }

.content-text-medium_wla { max-width: 945px; margin: auto; }

.line-blue { padding-left: 60px; padding-right: 60px; position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.line-blue::before { width: 30px; height: 5px; background: #004aad; position: absolute; left: 0; top: 50%; content: ""; }
.line-blue::after { width: 30px; height: 5px; background: #004aad; position: absolute; right: 0; top: 50%; content: ""; }

.full-space-img { width: 100%; height: auto; font-size: 0; }

.btn-b-bottom { margin: 8px 0 0 20px; float: right; }

.btn-b-item { padding-right: 30px; display: inline-block; vertical-align: middle; }
.btn-b-item:last-child { padding-right: 0; }

.btn-b__dd-btn { display: block; font-size: 0; cursor: pointer; }

.btn-b__search { cursor: pointer; background-image: url('../img/icons-s2f71294b09.png'); background-position: 0 -1809px; background-repeat: no-repeat; overflow: hidden; display: inline-block; height: 23px; width: 23px; }
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) { .btn-b__search { background-image: url('../img/icons-2x-s756f2c5928.png'); background-size: 0px auto; background-position: 0 -1820px; height: 23px; width: 23px; } }

.btn-b__volume { background-image: url('../img/icons-s2f71294b09.png'); background-position: 0 -2426px; background-repeat: no-repeat; overflow: hidden; display: inline-block; height: 23px; width: 25px; }
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) { .btn-b__volume { background-image: url('../img/icons-2x-s756f2c5928.png'); background-size: 0px auto; background-position: 0 -2437px; height: 23px; width: 25px; } }

.btn-b__share-white { background-image: url('../img/icons-s2f71294b09.png'); background-position: 0 -1897px; background-repeat: no-repeat; overflow: hidden; display: inline-block; height: 25px; width: 25px; }
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) { .btn-b__share-white { background-image: url('../img/icons-2x-s756f2c5928.png'); background-size: 0px auto; background-position: 0 -1908px; height: 25px; width: 25px; } }

.btn-b__burger { background-image: url('../img/icons-s2f71294b09.png'); background-position: 0 -499px; background-repeat: no-repeat; overflow: hidden; display: inline-block; height: 19px; width: 25px; }
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) { .btn-b__burger { background-image: url('../img/icons-2x-s756f2c5928.png'); background-size: 0px auto; background-position: 0 -499px; height: 19px; width: 25px; } }

.btn-b__dd-list { width: 292px; padding: 20px 10px 5px 20px; background: #ffffff; border: 1px solid #eaeaea; box-shadow: 2px 2px 2px #666666; display: none; position: absolute; top: 100%; right: 15px; z-index: 10; text-align: left; font-family: "Roboto-Regular"; font-size: 0; }

.btn-b__dd-item { width: 130px; padding-bottom: 15px; display: inline-block; font-size: 19px; }

.btn-b__dd-link { display: inline-block; }
.btn-b__dd-link:active { color: #004aad; }
.btn-b__dd-link:active .btn-b__dd-ico { background: #005ad3; }

.btn-b__dd-ico { width: 30px; height: 30px; padding: 5px; margin-right: 5px; display: inline-block; vertical-align: middle; background: #004aad; position: relative; }

.btn-b__dd-t { background-image: url('../img/icons-s2f71294b09.png'); background-position: 0 -2365px; background-repeat: no-repeat; overflow: hidden; display: inline-block; height: 14px; width: 18px; position: absolute; top: 50%; left: 50%; margin-top: -7px; margin-left: -9px; }
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) { .btn-b__dd-t { background-image: url('../img/icons-2x-s756f2c5928.png'); background-size: 0px auto; background-position: 0 -2376px; height: 14px; width: 18px; position: absolute; top: 50%; left: 50%; margin-top: -7px; margin-left: -9px; } }

.btn-b__dd-f { background-image: url('../img/icons-s2f71294b09.png'); background-position: 0 -773px; background-repeat: no-repeat; overflow: hidden; display: inline-block; height: 19px; width: 10px; position: absolute; top: 50%; left: 50%; margin-top: -9.5px; margin-left: -5px; }
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) { .btn-b__dd-f { background-image: url('../img/icons-2x-s756f2c5928.png'); background-size: 0px auto; background-position: 0 -773px; height: 19px; width: 10px; position: absolute; top: 50%; left: 50%; margin-top: -9.5px; margin-left: -5px; } }

.btn-b__dd-p { background-image: url('../img/icons-s2f71294b09.png'); background-position: 0 -1506px; background-repeat: no-repeat; overflow: hidden; display: inline-block; height: 19px; width: 14px; position: absolute; top: 50%; left: 50%; margin-top: -9.5px; margin-left: -7px; }
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) { .btn-b__dd-p { background-image: url('../img/icons-2x-s756f2c5928.png'); background-size: 0px auto; background-position: 0 -1517px; height: 19px; width: 14px; position: absolute; top: 50%; left: 50%; margin-top: -9.5px; margin-left: -7px; } }

.btn-b__dd-in { background-image: url('../img/icons-s2f71294b09.png'); background-position: 0 -1255px; background-repeat: no-repeat; overflow: hidden; display: inline-block; height: 16px; width: 17px; position: absolute; top: 50%; left: 50%; margin-top: -8px; margin-left: -8.5px; }
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) { .btn-b__dd-in { background-image: url('../img/icons-2x-s756f2c5928.png'); background-size: 0px auto; background-position: 0 -1244px; height: 16px; width: 17px; position: absolute; top: 50%; left: 50%; margin-top: -8px; margin-left: -8.5px; } }

.btn-b__dd-g-plus { background-image: url('../img/icons-s2f71294b09.png'); background-position: 0 -1016px; background-repeat: no-repeat; overflow: hidden; display: inline-block; height: 14px; width: 21px; position: absolute; top: 50%; left: 50%; margin-top: -7px; margin-left: -10.5px; }
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) { .btn-b__dd-g-plus { background-image: url('../img/icons-2x-s756f2c5928.png'); background-size: 0px auto; background-position: 0 -1005px; height: 14px; width: 21px; position: absolute; top: 50%; left: 50%; margin-top: -7px; margin-left: -10.5px; } }

.btn-b__dd-e-mail { background-image: url('../img/icons-s2f71294b09.png'); background-position: 0 -753px; background-repeat: no-repeat; overflow: hidden; display: inline-block; height: 15px; width: 17px; position: absolute; top: 50%; left: 50%; margin-top: -7.5px; margin-left: -8.5px; }
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) { .btn-b__dd-e-mail { background-image: url('../img/icons-2x-s756f2c5928.png'); background-size: 0px auto; background-position: 0 -753px; height: 15px; width: 17px; position: absolute; top: 50%; left: 50%; margin-top: -7.5px; margin-left: -8.5px; } }

.btn-search { width: 160px; height: 40px; background: #0257c9; position: absolute; top: 0; right: 0; font-size: 17px; color: #FFFFFF; font-family: "Roboto-Medium"; outline: none; }
.btn-search:hover { background: #0066ef; }
.btn-search:active { background: #0046a5; }

.btn { width: 190px; line-height: 36px; margin: 0 25px; display: inline-block; border: 2px solid #0257c9; -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px; text-align: center; font-family: "Roboto-Medium"; font-size: 19px; white-space: nowrap; cursor: pointer; }
.btn.btn_blue { color: #FFFFFF; background: #0257c9; outline: none; }
.btn.btn_blue:hover { background: #0066ef; border: 2px solid #0066ef; }
.btn.btn_blue:active { background: #0046a5; border: 2px solid #0046a5; }
.btn.btn_white { color: #004aad; background: #FFFFFF; border: 2px solid #004aad; }
.btn.btn_white:hover { color: #FFFFFF; background: #0257c9; border: 2px solid #0257c9; }
.btn.btn_white:active { background: #0046a5; border: 2px solid #0046a5; }

.btn-authoriz { width: 280px; height: 40px; padding: 9px 10px 11px 10px; color: #FFFFFF; background: #0257c9; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; font-family: "Roboto-Medium"; font-size: 19px; }

.btn-contacts { margin: 0; float: right; }

.btn-a-wrap { padding-top: 15px; }

.btn-cancel { width: 15px; height: 15px; display: block; position: absolute; top: 15px; left: 15px; font-size: 0; cursor: pointer; }

.btn-cancel-ico-white { position: absolute; top: 0; left: 0; z-index: 10; background-image: url('../img/icons-s2f71294b09.png'); background-position: 0 -563px; background-repeat: no-repeat; overflow: hidden; display: inline-block; height: 15px; width: 15px; }
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) { .btn-cancel-ico-white { background-image: url('../img/icons-2x-s756f2c5928.png'); background-size: 0px auto; background-position: 0 -563px; height: 15px; width: 15px; } }

.btn-cancel-ico-blue { position: absolute; top: 0; left: 0; z-index: 0; background-image: url('../img/icons-s2f71294b09.png'); background-position: 0 -543px; background-repeat: no-repeat; overflow: hidden; display: inline-block; height: 15px; width: 15px; }
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) { .btn-cancel-ico-blue { background-image: url('../img/icons-2x-s756f2c5928.png'); background-size: 0px auto; background-position: 0 -543px; height: 15px; width: 15px; } }

.btn-b__dd-text { display: inline-block; vertical-align: middle; }

.option-b { padding: 5px 0 5px 0; font-family: "Roboto-Regular"; font-size: 19px; color: #004aad; }

.option-b__item { padding-bottom: 15px; }

.option-b_preparation { padding-bottom: 20px; }

.option-b__ico { margin-right: 10px; vertical-align: middle; }

.option-b__ico-share-blue { background-image: url('../img/icons-s2f71294b09.png'); background-position: 0 -1867px; background-repeat: no-repeat; overflow: hidden; display: inline-block; height: 25px; width: 25px; }
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) { .option-b__ico-share-blue { background-image: url('../img/icons-2x-s756f2c5928.png'); background-size: 0px auto; background-position: 0 -1878px; height: 25px; width: 25px; } }

.option-b__ico-mail-big { background-image: url('../img/icons-s2f71294b09.png'); background-position: 0 -1464px; background-repeat: no-repeat; overflow: hidden; display: inline-block; height: 18px; width: 24px; }
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) { .option-b__ico-mail-big { background-image: url('../img/icons-2x-s756f2c5928.png'); background-size: 0px auto; background-position: 0 -1475px; height: 18px; width: 24px; } }

.option-b__ico-download { background-image: url('../img/icons-s2f71294b09.png'); background-position: 0 -727px; background-repeat: no-repeat; overflow: hidden; display: inline-block; height: 21px; width: 25px; }
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) { .option-b__ico-download { background-image: url('../img/icons-2x-s756f2c5928.png'); background-size: 0px auto; background-position: 0 -727px; height: 21px; width: 25px; } }

.entry-field { padding: 9px 10px; margin-bottom: 20px; border: 1px solid #c1c1c1; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; color: #c1c1c1; font-family: "Roboto-Light"; font-size: 15px; }
.entry-field:hover { border: 1px solid #0257c9; }

.entry-field_authoriz { width: 280px; height: 40px; margin: 0 auto 20px auto; display: block; }

.entry-field__left { width: 47%; float: left; }

.entry-field__right { width: 47%; float: right; }

.entry-field_textarea { width: 100%; height: 120px; word-wrap: break-word; }

.dd-select { padding: 10px 20px; display: block; color: #004aad; font-family: "Roboto-Regular"; cursor: pointer; }
.dd-select:hover { background: #004aad; color: #ffffff; }

.triangle-blue { width: 0; height: 0; margin: 6px 0 0 5px; float: right; border-left: 6px solid transparent; border-right: 6px solid transparent; border-top: 8px solid #1055b2; }

.circle-blue { width: 100px; height: 100px; display: inline-block; position: relative; background: #004aad; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; }

.active { display: block; }

.mobile-visible { display: none; }

.visible { display: inline-block; }

.invisible { display: none; }

@media screen and (max-width: 1110px) { .logo-white-link { width: 31px; }
  .logo-white-text-wrap { display: none; }
  .search-b { width: 70%; } }
@media screen and (max-width: 959px) { .container { padding-left: 25px; padding-right: 25px; }
  .menu-header { display: none; }
  .service-b { text-align: left; }
  .logo-white-link { width: 211px; margin: 0 auto 20px auto; display: block; float: none; }
  .logo-white-text-wrap { display: inline-block; }
  .search-b { width: calc(100% - 109px); }
  .jq-selectbox__select { padding: 10px 22px 10px 10px !important; font-size: 15px !important; }
  .jq-selectbox li { font-size: 17px !important; }
  .search-b__dd-list { margin-top: 1px; border: 1px solid #eaeaea; background: #ffffff; position: absolute; top: 100%; left: 0; font-size: 15px; }
  .search-b__dd-list_lang { min-width: 200px; max-width: 400px; }
  .search-b__dd-list_category { min-width: 320px; max-width: 400px; }
  .search-b__dd-item { font-size: 15px; border-top: 1px solid #eaeaea; }
  .search-b__dd-item:first-child { border-top: none; }
  .dd-select { padding: 8px 20px; }
  .search-b__entry-field { width: 100%; padding: 8px 10px 7px 10px; background: #ffffff; color: #666666; font-family: "Roboto-Regular"; font-size: 15px; }
  .video-wrap { height: 420px; }
  .video-top { width: 100%; height: 420px; }
  .banner-middle { width: 100%; height: 300px; }
  .banner-bottom { width: 100%; height: 300px; }
  .video-top_au { width: 100%; height: 420px; }
  .banner-text_big { padding-bottom: 30px; font-size: 40px; }
  .banner-text_medium { font-size: 24px; }
  .banner-text_small { padding-top: 50px; font-size: 20px; }
  .btn-b-bottom { margin-top: 4px; margin-left: 0; }
  .blue-b { padding-top: 35px; padding-bottom: 30px; }
  .menu-footer { width: 100%; }
  .menu-footer__list { width: 37.5%; }
  .menu-footer__list:last-child { width: 25%; }
  .menu-footer__item { width: 100%; font-size: 15px; }
  .social-b { width: 100%; padding-top: 35px; display: block; text-align: center; }
  .social-b__text { padding-right: 10px; display: inline-block; font-size: 17px; }
  .social-b__icons { padding: 0; display: inline-block; }
  .copyright-b { padding-top: 25px; padding-bottom: 25px; font-size: 15px; line-height: 20px; }
  .content-wrap { padding-top: 60px; padding-bottom: 60px; }
  .values-b__item { margin-bottom: 35px; font-size: 17px; }
  .values-b__ico-big { opacity: 0; }
  .values-b__ico-small { opacity: 1; }
  .values-b__caption { padding-top: 20px; }
  .achievements-b__item { margin-right: 10%; margin-left: 0; }
  .achievements-b__item:nth-child(2n) { margin-right: 0; }
  .content-wrap_values-b { padding-bottom: 20px; }
  .content-wrap_sbp { padding-bottom: 45px; }
  .content-left-b { width: 100%; display: block; padding-right: 0; }
  .content-right-b { width: 100%; display: block; }
  .tape-b { border-top: 1px solid #eaeaea; font-size: 0; }
  .tape-b__item { width: 47.5%; padding-top: 40px; padding-bottom: 0; margin-right: 5%; border: none; display: inline-block; vertical-align: top; }
  .tape-b__item:first-child { padding-top: 40px; }
  .tape-b__item:nth-child(2n) { margin-right: 0; }
  .tape-b__item:nth-child(3n) { display: none; }
  .tape-b__link-img { margin-bottom: 15px; }
  .contacts-wrap { padding-top: 0; padding-bottom: 60px; }
  .contacts-b__item { font-size: 15px; }
  .feedback-b .feedback-b__message { padding-bottom: 15px; font-size: 17px; }
  .location-b__map-wrap { width: 100%; height: 300px; display: block; float: none; }
  .location-b__photo-wrap { width: 100%; height: 300px; display: block; overflow: hidden; }
  .location-b__photo { width: 100%; height: auto; }
  .h2-content { font-size: 36px; }
  .h3-content { font-size: 21px; line-height: 36px; }
  .h4-content { font-size: 19px; line-height: 26px; }
  .h2-content-wrap { margin-bottom: 40px; }
  .content-text-medium { font-size: 20px; line-height: 24px; }
  .content-text-medium_preparation { margin-bottom: 35px; }
  .content-text-small { margin-top: 10px; margin-bottom: 10px; font-size: 15px; line-height: 20px; }
  .line-blue::before { width: 30px; height: 5px; background: #004aad; position: absolute; left: 0; top: 58%; content: ""; }
  .line-blue::after { width: 30px; height: 5px; background: #004aad; position: absolute; right: 0; top: 58%; content: ""; }
  .btn-b__dd-list { right: 25px; }
  .btn-b__dd-item { font-size: 15px; }
  .btn-b__dd-ico { margin-right: 10px; }
  .btn-b-item:first-child { display: none; }
  .btn-search { height: 35px; }
  .btn { width: 180px; line-height: 31px; font-size: 17px; }
  .btn-a-wrap { padding-top: 10px; }
  .option-b { width: 100%; display: block; padding-top: 15px; padding-bottom: 15px; }
  .option-b__item { padding-right: 40px; display: inline-block; }
  .entry-field__left { width: 100%; padding: 7px 10px; float: none; display: block; font-size: 14px; }
  .entry-field__right { width: 100%; padding: 7px 10px; float: none; display: block; font-size: 14px; }
  .entry-field_textarea { height: 100px; padding: 7px 10px; font-size: 14px; }
  .owl-carousel-wrap { padding-top: 60px; padding-bottom: 60px; }
  .owl-theme { margin-bottom: 30px; padding-bottom: 30px; }
  .owl-theme .owl-controls { margin-top: 20px; }
  .owl-theme .owl-controls .owl-page span { width: 15px; height: 15px; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; margin: 5px 5px; }
  .owl-theme_content { margin-bottom: 30px; }
  .owl-theme_content .owl-controls { bottom: 10px; }
  .owl-theme_content .owl-controls .owl-page span { width: 15px; height: 15px; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; margin: 5px 5px; }
  .triangle-blue { margin-top: 4px; }
  .circle-blue { width: 80px; height: 80px; } }
@media screen and (max-width: 767px) { .header { width: 100%; position: absolute; top: 0; left: 0; z-index: 50; }
  .container { min-width: 320px; padding-left: 20px; padding-right: 20px; }
  .service-b { padding-top: 20px; padding-bottom: 20px; text-align: left; }
  .logo-white-link { width: 41px; margin: 0; display: block; float: left; }
  .logo-white-emblem-small-wrap { display: none; }
  .logo-white-text-wrap { display: none; }
  .logo-white-emblem-big-wrap { display: block; }
  .search-b { width: 100%; padding: 20px 0 0 0; clear: both; display: none; }
  .search-b__dd_lang { width: 84px; margin-right: 1px; position: static; }
  .search-b__dd_category { width: 100%; margin-top: 1px; position: static; border-left: none; right: 0; }
  .search-b__entry-field { width: calc(100% - 85px); float: right; position: static; }
  .search-b__dd-list { margin-top: 1px; background: #ffffff; position: absolute; left: 0; font-size: 15px; }
  .search-b__dd-list_lang { width: 100%; max-width: 100%; top: 55px; display: none; }
  .search-b__dd-list_category { width: 100%; max-width: 100%; display: none; }
  .search-b__dd-item { border-top: 1px solid #eaeaea; }
  .banner-text_big { padding-bottom: 30px; font-size: 36px; }
  .banner-text_medium { font-size: 22px; }
  .banner-text_small { padding-top: 50px; font-size: 18px; }
  .owl-carousel-wrap { padding-top: 40px; padding-bottom: 40px; }
  .owl-carousel-wrap .owl-carousel__seat .owl-carousel__left-b { width: 100%; padding-right: 0; }
  .owl-carousel-wrap .owl-carousel__seat .owl-carousel__right-b { width: 100%; padding-left: 0; }
  .blue-b { padding-top: 40px; padding-bottom: 40px; }
  .menu-footer { display: none; }
  .social-b { padding-top: 0; }
  .social-b__text { padding-right: 10px; display: block; }
  .social-b__icons { padding-top: 20px; display: block; }
  .copyright-b { padding: 20px 30px; font-size: 15px; line-height: 20px; }
  .content-wrap { padding-top: 40px; padding-bottom: 40px; }
  .values-b { padding-top: 15px; }
  .values-b__item { width: 100%; display: block; }
  .values-b__ico-big { opacity: 1; }
  .values-b__ico-small { opacity: 0; }
  .achievements-b__item { display: block; margin-right: auto; margin-left: auto; }
  .achievements-b__item:nth-child(2n) { margin-right: auto; }
  .content-wrap_values-b { padding-bottom: 0; }
  .content-wrap_sbp { padding-bottom: 30px; }
  .option-b { padding-top: 20px; padding-bottom: 10px; }
  .option-b .option-b__item { padding: 0 0 10px 0; display: block; }
  .tape-b__item { width: 100%; display: block; padding-top: 30px; padding-bottom: 20px; border-bottom: 1px solid #eaeaea; }
  .tape-b__item:first-child { padding-top: 30px; }
  .tape-b__item:last-child { padding-bottom: 0; }
  .contacts-wrap { padding-top: 10px; padding-bottom: 40px; }
  .contacts-b { width: 100%; padding-bottom: 10px; display: block; }
  .contacts-b__list { width: 280px; margin: auto; }
  .feedback-b { width: 100%; padding-left: 0; display: block; }
  .location-b__photo-wrap { width: 100%; height: auto; }
  .drop-menu { width: 100%; top: 79px; overflow: auto; }
  .banner-dm { display: none; }
  .authoriz-b-dm { padding-top: 30px; }
  .h2-content-wrap { margin-bottom: 30px; }
  .content-text-medium { font-size: 18px; line-height: 22px; }
  .content-text-small { margin-top: 10px; margin-bottom: 10px; font-size: 15px; line-height: 20px; }
  .content-text-medium_preparation { padding-bottom: 25px; }
  .line-blue::before { display: none; }
  .line-blue::after { display: none; }
  .btn-b-bottom { display: none; }
  .btn-b__dd-list { left: 50%; margin-left: -145px; }
  .btn-b__dd-item { font-size: 15px; }
  .btn-b__dd-ico { margin-right: 10px; }
  .btn-b-item:first-child { display: inline-block; }
  .btn-b-top { margin-top: 8px; display: block; float: right; }
  .btn-search { width: 100%; display: block; position: static; }
  .btn-contacts { margin: auto; display: block; float: none; }
  .btn-cancel-ico-white { z-index: 0; }
  .btn-cancel-ico-blue { z-index: 10; }
  .owl-carousel-wrap { padding-bottom: 40px; }
  .owl-carousel-wrap_preparations { padding-bottom: 10px; }
  .owl-theme { padding-bottom: 0; }
  .owl-theme .owl-controls { margin-top: 10px; }
  .owl-theme .owl-controls .owl-page span { width: 15px; height: 15px; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; margin: 5px 5px; }
  .owl-theme_content { margin-bottom: 25px; }
  .owl-theme_content .owl-controls .owl-page span { display: none; }
  .circle-blue { width: 100px; height: 100px; }
  .mobile-page-start { padding-top: 89px; }
  .mobile-invisible { display: none; }
  .visible { display: inline-block; }
  .invisible { display: none; } }
